<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='cs50.ico') }}" type="image/x-icon">

        <title>Bigboard - CS50x Speller Benchmark</title>

    </head>

    <body>

        <nav class="navbar">
            <a href="/" class="nav-title">Bigboard - CS50x Speller Benchmark</a>

            <ul class="nav-links">

                {% if current_user.is_authenticated %}
                    <li><a href="/submit">Submit Code</a></li>
                    <li><a href="/logout">Log Out</a></li>
                {% else %}
                    <li><a href="/register">Register</a></li>
                    <li><a href="/login">Login</a></li>
                {% endif %}
            </ul>

        </nav>

        <main>
            {% block main %}{% endblock %}
        </main>

    </body>

</html>
