{% extends "layout.html" %}

{% block main %}

    <div class="form-container">
        <form action="/register" method="post" id="registration_form">
            <input autocomplete="off" autofocus name="username" id="username" placeholder="Username" type="text" required>
            <input autocomplete="off" name="password" id="password" placeholder="Password" type="password" required>
            <input autocomplete="off" name="confirmation" id="confirmation" placeholder="Password Again" type="password" required>
            <button type="submit">Register</button>
        </form>
    </div>

    <script>

        document.querySelector('#registration_form').addEventListener('submit', function(event) {
            // Get the password and confirmation the user provided
            let password = document.querySelector('#password').value;
            let confirmation = document.querySelector('#confirmation').value;

            // Prevent the form from being submitted if the password and confirmation do not match,
            // and alert the user about it
            if (password !== confirmation) {
                event.preventDefault();
                alert('Password and confirmation must match, please try again')
            }
        });

    </script>

{% endblock %}
